<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KTUpdateApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>45A2C3FC1FD82B5F006273CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A2C4151FD82B60006273CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>45A2C4201FD82B60006273CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
